body{
padding:50px 8px 0;

}
.cal_calendar {
	border: #cecece 1px solid;
    padding: 1px;       
    width:100%;        
    margin:auto;        
    height:350px;        
	border-collapse:collapse;
	font-family:calibri;
    color:#362d26;
}

.cal_calendar th{        
    border:1px solid black;        
    width: 100px;
	height:25px;
	font-size:12px;
	font-weight:700;
	text-align:center !important;
	background-color: #F5F5DC;	
	border: #cecece 1px solid;
}.cal_calendar td {
    border: 1px solid black;
    background-color: #ffffff;
    text - align: center;
    width: 36px;
    height: 80px;
	border: #cecece 1px solid;	
	font-size:19px;
}.cal_today {
	background-color: #fff3a1 !important;	
}.cal_days_bef_aft {
    color: #bbb; !important;
	height:20px !important;
	text-align:right;
	border:0px !important;
}

.cal_inner_table{
	text-align:right;height:20px !important;border:0px !important;
}

.cal_inner_td1{
	text-align:right;height:20px !important;border:0px !important;
}

.cal_inner_td2{
	border:0px !important;
	font-size:12px !important;
}

.sch_header {
	border: #cecece 1px solid;
    padding: 1px;       
    width:100%;        
    margin:auto;        
    height:20px;        
	border-collapse:collapse;
	font-family:calibri;
	color:#362d26;
	margin-bottom:10px !important;
	border: #FFFFFF 1px solid;
}

.sch_header th{        
    border:1px solid black;        
    width: 100px;
	height:25px;
	font-size:12px;
	font-weight:500;
	text-align:center !important;
	background-color: #F5F5DC;	
	border: #cecece 1px solid;
}

.sch_left_ctrl {
	border: #cecece 1px solid;
    padding: 1px;       
    margin:auto;   
	width:160px;
    height:25px !important;        
	border-collapse:collapse;
	font-family:calibri;
	color:#362d26;
	margin-bottom:10px !important;
}

.sch_left_ctrl tr{
	border: #cecece 1px solid;
    padding: 1px;       
    margin:auto;        
    height:105px !important;        
}

.sch_left_ctrl td{
	border: #cecece 1px solid;
    padding: 1px;       
    margin:auto;        
    height:25px !important;
	width:25px !important;
}


.xscale {
	
    padding: 1px;           
    margin:auto;        
	border-collapse:collapse;
	font-family:calibri;
	font-size:12px;
	color:#362d26;
	border-right: 0px !important;
	border-left: #cecece 1px solid;
	border-top: #cecece 1px solid;
	border-bottom: #cecece 1px solid;
}
.xscale td {
    border: 1px solid black;
    background-color: #ffffff;
    text - align: center;
    width: 36px;
    height: 25px;
	border: #cecece 1px solid;	
	border-left:0px #FFFFF;
	border-right: 0px !important;
}

.Yscale {
	border: #cecece 1px solid;
    padding: 1px;          
    margin:auto;        
	border-collapse:collapse;
	font-family:calibri;
	font-size:12px;
	color:#362d26;
}

.Yscale th {
    border: 1px solid black;
    background-color: #F5F5DC;
    text - align: center;
    width: 220px !important;
    height: 25px;
	border: #cecece 1px solid;	
	border-left:0px #FFFFF;
	display: table-cell !important;

}

.noline {
    background-color: #ffffff;
    text - align: center;
    width: 150Px !important;
    height: 25px;
	border-top: #FFFFFF 1px solid;	
	border-right: #cecece 1px solid;
}

.withline {
    border: 1px solid black;
    background-color: #ffffff;
    text - align: center;
    width: 150px !important;
    height: 25px;
	border: #cecece 1px solid;	
	border-left:0px #FFFFF;
	border-bottom:0px;;
}

.scrolldiv {
    overflow:scroll;
	width:900px;
	overflow-y:hidden;
}

.scrolldiv2{
    overflow:scroll;
	height:460px;
	overflow-x:hidden;
}

.evtpop{-moz-border-radius:10px;-webkit-border-radius:5px;border-radius:5px;padding:0px;}
.evtpop_td{
	font-size:12px;height:19px;width:30px;text-align:center;
}
.evtpop_td_ltline{
	font-size:12px;height:19px;border-left: #cecece 1px solid;padding-left:3px;padding-right:3px;
}

.evtpop_td_btm_line{
	border-bottom: #cecece 1px solid;font-family:calibri;font-size:12px;
}

.eventpop{
	width:170px;height:19px;background-color:#fff;border:1px solid #cecece;padding:5px 5px 5px 10px;
	-moz-border-radius:10px;-webkit-border-radius:5px;border-radius:5px;padding:0px;
	position:relative;font-family:calibri;
}

.eventtab{	
	position:static;
}


* {padding:0; margin:0;}





.tabs_underline{
	border-bottom: #cecece 1px solid;
}


.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	padding:5px 2px;				
	text-align:center;
	display:inline-block;				
	text-decoration:none;				
	vertical-align:bottom;
	color:#000;
	font-weight:700;
	font-family:calibri;
	font-size:14px;
}

.tabs a.active {
	background: #3B9C9C;
	color: #fff;
	border: #cecece 1px solid;
	border-bottom: 0px !important;
	font-weight:700;
	font-family:calibri;
	font-size:14px;
}

.datetable_td{
	border: #cecece 1px solid;
}

.basictable{
	border:1;
	border-collapse:collapse;
	cellPadding:0px;
	cellSpacing:0px;
}
.table_round_corners{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	border: #cecece 1px solid;
}

.headertable{
	border: #cecece 1px solid;
	border-collapse:collapse;
	height:40px;
}
			


			
.date_selector_td{
	font-size:12px;height:20px;width:30px;text-align:center;
}
.date_selector_td_ltline{
	font-size:12px;height:24px;border-left: #cecece 1px solid;padding-left:0px;padding-right:0px;
}
.date_selector_td_left_right{
	width:18px;
	text-align:center;
	padding-top:1px;
}
.date_selector_td_mid{
	width:80px;
}

.date_selector{
	width:145px;
	height:25px;
	border:1px solid #cecece;
	padding:0px;
	-moz-border-radius:10px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	font-family:calibri;
}

.box_nextavail{
	width:100px;
	height:20px;
	border:1px solid #cecece;
	padding:0px;
	text-align:center;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family:calibri;
	font-size:13px;
}

.gen_font{
	font-family:calibri;
	font-size:11px;
}

.gen_font1{
	font-family:calibri;
	font-size:12px;
}

.gen_font2{
	font-family:calibri;
	font-size:12px;
	line-height:98%;
	letter-spacing:0.02em;
	padding-top:1px;
}

.gen_font3{
	color:#1569C7;
	font-weight:bold;
}


.input1{
	border:0px;
	font-family:calibri;
	font-size: 14px;
	text-align:center;
	cursor:pointer;
	margin-bottom: 3px !important;
}

.alertbox{
	width:15px;
	height:14px;
	border:1px solid #5E5A80;
	background:#5E5A80;
	color:#fff;
	padding:0px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	font-family:calibri;
	font-weight:bold;
}
.zoomIn{
float:right;text-decoration:underline;cursor:pointer;width:18%;text-align:right;
}